.row.justify-content-center
  .col-lg-4
    = render partial: "shared/flash_container"

    %h2 Log in

    = form_with scope: :session, url: session_path, local: true do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "current-password", class: "form-control"

      .form-group
        = f.submit "Log in", class: "btn btn-primary"

    .border-top.pt-3.mt-3
      %ul.list-unstyled
        %li= link_to "Login with Discord", "/auth/discord", class: "btn btn-primary"

    %ul.list-unstyled
      %li= link_to "Not registered? Sign up.", new_user_path

    %footer.text-center
      = link_to root_path do
        = image_tag "clover.png", height: 25, width: 25
